.align-categories{
  margin: 0 auto;
  width: 1240px;
  height: 100%;
  background-color: lightgreen;
}

.categories-head {
  width: 100%;
  height: 100px;
  background-color: lightgreen;
}

.title-categories {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  .font-size(50);
  float: left;
}

.container-title-categories{
  width: 200px;
  float: right;
}

.icon-categories {
  width: 57px;
  height: 53px;
  float: right;
}

.containter-products {
  margin: 0;
  width: 100%;
  height: 600px;
  background-color: lightblue;
  overflow: visible;
  // overflow-x: hidden;
}

.product {
  width: 250px;
  height: 250px;
  margin: 5px;
  background-color: red;
  float: left;
}

.minimum {

}

.medium {
  width: 550px;
}

.maximum {

}

.categories-foot {
  width: 100%;
  height: 100px;
  background-color: beige;
}